* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

img {
    display: block;
    max-width: 100%;
}

.billis-logo {
    height: 150px;
}

.navigation {
    flex: 0 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 24px;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-links li a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 1rem;
}


.hero-content h1 {
    font-size: 2.75rem;
    margin-bottom: 16px;
}

.hero-content p {
    font-size: 1.1rem;
    margin-bottom: 28px;
}

.hero-content a {
    display: inline-block;
    text-decoration: none;
    background-color: #6f4e37;
    color: white;
    font-weight: bold;
    padding: 12px 28px;
    border-radius: 8px;
}

#hero {
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 0 64px;
    gap: 24px;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
}

.hero-image {
    flex-grow: 1;
    height: 100%;
}

.hero-image img {
    object-fit: cover;
}

/* Services Section */
.cart-col h1,
.location-col h1 {
    font-size: 2rem;
}

.cart-col p,
.location-col p {
    font-size: 1rem;
}

.cart-col ul li,
.location-col ul li {
    font-size: 1rem;
}

#services {
    min-height: 100vh;
    padding: 0 64px;
    gap: 24px;
}

#services .container {
    display: flex;
    padding: 2rem;
    gap: 2rem;
    align-items: center;
}


.location-col {
    flex-grow: 1;
}

.cart-col {
    flex-grow: 1;
}

.cart-col img,
.location-col img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 8px;
}

.cart-col h1,
.location-col h1 {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.cart-col p,
.location-col p {
    margin-bottom: 1rem;
}

.cart-col ul,
.location-col ul {
    padding-left: 1.25rem;
}