@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap');

:root {
  --font-heading: 'Noto Serif', serif;
  --font-body: 'Plus Jakarta Sans', sans-serif;
}

h1, h2, h3 { font-family: var(--font-heading); }
body { font-family: var(--font-body); }

root {
  --color-primary: #4E342E;
  --color-accent: #5E604D;
  --color-bg-main: #FBF9F5;
  --color-bg-tonal: #EFEEEA;
  --color-text-main: #361F1A;
  --color-text-muted: #827471;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.billis-logo {
    height: 100px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
}

.nav-links {
    display: flex;
    justify-content: center;
    gap: 2rem;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
}
